.basic-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.basic-title {
  font-family: "Michroma", serif;
  font-size: 3rem;
  color: var(--main-color);
}

.basic-title span {
  color: var(--light-color);
}

.basic-hashtags {
  margin: 5px 0;
  color: grey;
  font-size: 1.2rem;
}

.basic-hashtags p {
  margin: 3px;
}

.search-box {
  height: 2.5rem;
  background-color: #d3eef4;
}

.search-box input {
  outline: none;
  color: var(--main-color);
}

.search-box input::placeholder {
  color: var(--main-color);
}