.basic-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.basic-title {
  font-size: 2.5rem;
}

.basic-hashtags {
  margin: 5px 0;
  color: grey;
  font-size: 1.2rem;
}

.basic-hashtags p {
  margin: 3px;
}
