:root {
  --main-color: #6798C0;
  --main-bg-color: #FFFDF7;
  --main-p-color: #FDC921;
  
  --light-color: #99D6EA;
  --light-p-color: #FDD85D;
}

.header {
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: var(--main-bg-color);
}
.header-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding-right: 2rem;
}

.header-logo {
  font-family: "Michroma", sans-serif;
}

.header-btn :visited {
  color: var(--main-bg-color);
}

.header-btn :hover {
  color: var(--main-p-color);
}

.menu-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-menu {
  position: fixed;
  top: 5rem;
  right: 0px;
  background-color:var(--main-color);
  list-style: none;
  padding: 0 0 0.5rem 0;
  margin: 0;
  min-width: 10rem;
}

.dropdown-menu li {
  padding: 8px 20px;
}
.dropdown-menu li:hover {
  color: var(--main-p-color);
}
