.header {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  background-color: #21527e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.logout-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 0 1.5rem;
}

.header-btn {
  padding-right: 3rem;
}

.header :visited {
  color: #f4fcff;
}

.menu-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-menu {
  position: fixed;
  top: 70px;
  right: 0px;
  background-color: #21527e;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  min-width: 10rem;
}

.dropdown-menu li {
  padding: 8px 20px;
}
.dropdown-menu li:hover {
  background-color: rgb(70, 57, 145);
}
