.search-container {
  margin-top: 5rem;
  text-align: center;
}

.site-title {
  margin: 3rem 0 0.7rem 0;
  font-size: 2rem;
  font-family: "Michroma";
  color: var(--main-color);
}

.site-title span {
  color: var(--light-color);
}

.result-search-box {
  margin: 1rem auto;
  height: 1.8rem;
  width: 60rem;
  max-width: 65%;
  border-bottom: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  padding: 10px;
}

.result-search-box input {
  flex: 1;
  border: none;
  background: none;
  font-size: 1.2rem;
  padding-left: 1rem;
  outline: none;
  color: var(--main-color);
}

.result-search-box button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.result-search-box input::placeholder {
  color: var(--main-color);
}

.search-hashtags {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0.8rem 0;
  color: var(--main-color);
}

.news-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0 5rem 0;
}

.news-card {
  display: flex;
  justify-content: space-between;
  width: 65%;
  padding: 1.2rem;
  /* background-color: var(--light-3-color); */
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  text-align: left;
}

.news-card-text h2 a {
  text-decoration: none;
  color: navy;
}

.news-card-text p {
  color: var(--main-color);
}

.news-card button {
  height: 2rem;
}

.like-btn {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;

  background-color: var(--light-2-color);
  color: navy;
}

.like-btn:hover {
  background-color: var(--light-color);
}

.scrap-button {
  background-color: var(--light-2-color);
  color: navy;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 16px;
}

.scrap-button:hover {
  background-color: var(--main-color);
  color: var(--main-bg-color);
}

.scrap-button:active {
  background-color: navy;
}
